@media (max-width: 714px) {
    .information-container-child table {
        font-size: 14px;
    }
    .information-container-child {
        min-width: 400px;
    }
}

@media (max-width: 615px) {
    .information-container-child {
        min-width:100%;
    }
}