
@media (max-width: 1250px) {
    .main-container-child {
        width: 215px;
        height: 215px;
    }
}

@media (max-width: 1204px) {
    .main-container-child {
        width: 195px;
        height: 195px;
    }
}

@media (max-width: 1000px) {
    .main-container-child {
        width: 165px;
        height: 165px;
    }
}

@media (max-width: 890px) {
    .main-container-child {
        width: 140px;
        height: 140px;
        margin: 1px
    }
}

@media (max-width: 790px) {
    .main-container-child {
        width: 210px;
        height: 210px;
    }
}

@media (max-width: 730px) {
    .main-container-child {
        width: 150px;
        height: 150px;
        margin: 0;
    }
}

@media (max-width: 614px) {
    .main-container-child {
        width: 200px;
        height: 200px;
        margin: 0;
    }
    .main-container {
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-left: 15%;
    }
}