
@media (max-width: 705px) {
    .container-menu {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    .container-menu {
        font-size: 13px;
    }
}

@media (max-width: 614px) {
    .menu-center li a span {
        display: none;
    }

    .menu-center li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
    }

    .menu-center li a {
        width: 100%;
        text-align: center;
    }

    .user-image {
        display: none;
    }

    .lang {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-left: -15px;

        float: none;
    }

    .lang li {
        display: block;

    }

    .menu-center li ul {
        width: 100%;
    }

    .menu-center ul {
        display: block;
    }

    .menu-center i {
        font-size: 30px;
    }

    .menu-head span {
        display: none;
    }

    .logout {
        width: 100%;
        text-align: center;
    }

    .logout a {
        display: inline-block;
        margin-left: 15px;

    }

    .logout a i {
        font-size: 30px;
    }

    .menu-head ul li {
        width: 100%;
    }

    .menu-head ul li img {
        width: 30px;
        margin-left: 5px;
    }
}