@media (max-width: 1097px) {
    .settings-container-child {
        width: 70%;
    }

    .settings-container ul {
        margin-left: 15%;
    }
}

@media (max-width: 936px) {
    .settings-container-child {
        width: 80%;
    }

    .settings-container ul {
        margin-left: 10%;
    }
}

@media (max-width: 817px) {
    .settings-container-child {
        width: 90%;
    }

    .settings-container ul {
        margin-left: 5%;
    }
}