@media (max-width: 915px){

    .table-container-child table thead th {
        font-size: 10.5px;
    }

    .table-container-child {
        width: 100%;
    }

    .table-container-child table tbody tr td {
        font-size: 13.5px;
    }

    .table-container-child table tbody button {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 614px) {
    .table-container-child table button {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .table-container-child table {
        border: 0;
    }

    .table-container-child table caption {
        font-size: 1.3em;
    }

    .table-container-child table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .table-container-child table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }

    .table-container-child table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .table-container-child table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .table-container-child table td:last-child {
        border-bottom: 0;
    }

    .table-container-child table tr:nth-child(even){background-color: #f2f2f2}
}