body {
    margin: 0;
}
.bg-image {
    z-index: -1;
    background: url("/images/404.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    display: flex;
    align-items: end;
    justify-content: center;
}