.bg-image {
    z-index: -1;
    background: url("/images/background-main.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    transform: scale(1.1)
}