body {
    margin: 0;
}

.bg-image {
    background: url("../images/background-beautiful-beauty-296890.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    transform: scale(1.1)
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.child {
    border-radius: 10px;
    width: 600px;
    background: rgba(255, 255, 255, 0.30);
    height: 300px;
    position: relative;
}
