.form-change-container {
    padding: 0 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 10%;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
}

.form-change {
    display: flex;
    flex-flow: column;
}

.form-change i {
    font-size: 24px;
    color: red;
    width: max-content;
    height: max-content;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 95%;
}

.form-change input, select {
    float: right;
    margin-bottom: 12px;
}

.form-change input[type="submit"] {
    width: -moz-max-content;
    display: flex;
    align-self: center;
    margin-bottom: 0;
    margin-top: 10px;
}

.button-add {
    margin-left: 28%;
    display: flex;
    background-color: #3B4F6A;
    color: white;
    padding: 11px 48px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3B4F6A;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button-add:hover {
    border: 1px solid #3B4F6A;
    background-color: white;
    color: black;
}