.bg-image-information {
    z-index: -1;
    background: url("/images/background-main.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    transform: scale(1.1)
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 20%;
}

.information-container-child {
    width: 50%;
    background: rgba(255, 255, 255, 0.70);
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.information-container-child table td:first-child {
    float: left;
    padding-top: 30px;
    padding-left: 30px;
}

.information-container-child table td:last-child {
    float: right;
    padding-top: 30px;
    padding-right: 30px;
}

.information-container-child table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.information-container-child table tr:after {
    display: block;
    content: "";
    margin: 0 auto;
    border-bottom: 1px solid #000000;
}

.information-container-child table tr:first-child:after {
    border-bottom: none;
}

.header-text {
    float: left;
    padding-left: 15px;

}

.information-container .line:first-child {
    width: 80%;
    padding: 0 30px 0 0;
    text-align: center;
    background-color: lightgray;
}

