@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg-image {
    background: url("../images/background-beautiful-beauty-296890.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    transform: scale(1.1)
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.child {
    border-radius: 10px;
    min-width: 342px;
    background: rgba(255, 255, 255, 0.30);
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.child form {
    margin-bottom: 150px;
    margin-top: 75px;
}

.input-text {
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    padding-left: 6px;
}

.button {
    width: 100%;
    background: dodgerblue;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.button:hover {
    color: dodgerblue;
    background: white;
    cursor: pointer;
}

.button, .input-text {
    border-radius: 6px;
    height: 20%;
    width: 100%;
    color: white;
}

.register {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    font-size: 12px;
}

.error {
    top: 17%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background: rgba(225,0,0,0.40);
    font-size: 12px;
}

.lang-login {
    align-self: baseline;
    padding-left: 10px;
}

.lang-login li {
    display: inline-block;
}