body {
    margin: 0;
}

.bg-image-main {
    z-index: -1;
    background: url("/images/background-main.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    transform: scale(1.1)
}

.main-container {
    display: flex;
    margin-left: 25%;
    align-content: center;
    flex-flow: wrap;
}

.main-container a {
    margin: 13px 13px 13px 40px;
    text-decoration: none;
    color: #000;
}

.main-container-child span {
    font-size: 20px;
    font-weight: bold;
}

.main-container-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.85);
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-container-child i {
    margin-bottom: 20px;

    color: rgba(43, 60, 88, 1);
}

.main-container-child:hover {
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 23px #2b3c58;
}
