@font-face {
    font-family: "Caira Bold";
    src: url("fonts/Cairo");
    src: url("fonts/Cairo/Cairo-Bold.ttf") format("opentype");
}
body, ul {
    margin: 0;
    padding: 0;
}

.logout {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

.parent-lang {
    background-image: none;
    flex-direction: unset;
    width: 100%;
}

.logout i {
    font-size: 20px;
    color: #3B4F6A;
}

.lang {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}

.lang li {
    display: inline-block;
}

.logout i:hover {
    color: #ffffff;
}

.user-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #2B3C58;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.user-image img {
    display: block;
    width: 100%;
    border-radius: 50%;
}
.container-menu {
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    background-color: rgba(36, 52, 75, 0.80);
    font-family: "Open Sans", sans-serif;
    position: fixed;
}
.menu-head {
    text-align: center;
    padding-bottom: 10%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.container-menu i {
    text-align: right;
}


.menu-center ul {
    background-color: rgba(43, 60, 88, 0.50);
}
.container-menu li {
    list-style-type: none;
}

.container-menu li, .container-menu a {
    color: #ffffff;
}

.container-menu .menu-center li a{
    cursor: pointer;
    padding: 15px 0 15px 10%;
    text-decoration: none;
    display: block;
    font-family: 'Cairo-Bold', sans-serif;
    font-weight: bold;
}

li:hover {
    background: rgba(59, 79, 106, 0.60);
}
