#paginate {
    margin-top: 10px;
}

#paginate li {
    display: inline-block;
    transform: skew(-20deg);
}

#paginate a li {
    border-left: 1px solid black;
}

#paginate a:first-child li {
    border-left: none;
}

#paginate li {
    text-decoration: none;
    color: darkblue;
}

#paginate li {
    padding: 8px 18px;
    cursor: pointer;
}

#paginate li.selected {
    background-color: darkblue;
    color: white;
}

