.payment-container {
    padding-top: 20px;
}

.payment-form {
    background: rgba(255, 255, 255, 0.70);
    margin-left: 28%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 250px;
    margin-bottom:20px;
}

.payment-form input, label {
    margin-bottom: 15px;
    display: block;
}

.payment-form label {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.payment-form input[type=submit] {
    margin-bottom: 0;
    background-color: #3B4F6A;
    color: white;
    width: 100%;
    padding: 11px 48px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3B4F6A;
}

.payment-form input[type=submit]:hover {
    border: 1px solid #3B4F6A;
    background-color: white;
    color: black;
}