.settings-container {
    font-family: "Open Sans", sans-serif;
}

.settings-container-child span {
    font-size: 12px;
}

.bg-image-settings {
    z-index: -1;
    background: url("/images/background-main.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    transform: scale(1.1)
}
.settings-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 20%;
}

.settings-container-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: rgba(255, 255, 255, 0.70);
    position: relative;
}

.settings-container-child label, input {
    display: flex;
    align-items: center;
    justify-content: end;
}

.settings-container-child label:first-child {
    margin-top: 30px;
}

.settings-container-child input {
    margin-left: 200px;
    margin-bottom: 10px;
}

.settings-container ul {
    display: flex;
    margin-left: 20%;
    align-self: flex-start;

}

.settings-container-child input[type="submit"] {
    float: right;
    margin-top: 20px;
}

.settings-container ul li {
    -moz-user-select: none;
}

#securityForm {
    display: none;
}

#accountButton, #securityButton {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

#securityButton {
    background-color: gray;
}

#accountButton {
    background-color: rgba(255, 255, 255, 0.70);
}



@media (max-width: 743px) {
    .settings-container-child input {
        margin-left: 110px;
    }
}

@media (max-width: 614px) {
    .settings-container-child label, input {
        flex-flow: column;
    }

    .settings-container-child input {
        margin-left: 0;
    }

    .settings-container-child {
    }
}

@media (max-width: 350px) {
    .settings-container-child input[type="text"], input[type="password"] {
        width: 90%;
    }

}
