.bg-image-tariffs {
    z-index: -1;
    background: url("/images/background-main.jpg") center center fixed no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(8px);
    position: fixed;
    transform: scale(1.1)
}
.table-container {
    display: flex;
    justify-content: center;
    margin-left: 20%;
}

.table-container-child {
    width: 80%;
    background: rgba(255, 255, 255, 0.70);
    justify-content: center;
    position: relative;
}

.table-container-child table caption {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.table-container-child table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.table-container-child table tr {
    background-color: rgba(248, 248, 248, 0.80);
    transition: background-color 1s;
    border: 1px solid #3B4F6A;
}

.table-container-child table th,
.table-container-child table td {
    text-align: center;
}

.table-container-child table form {
    margin: 0;

}

.table-container-child button {
    width: -moz-available;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
}


.table-container-child table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.highlight {
    background-color: red;
    transition: background-color 1s;
}